#img {

    height: 50px;
}


.img2{

    max-width: 960px;
}

#img2{

     max-width: 960px;
 }

.foot{

    background-color: #363636;

    max-width: 960px;
    height: 100px;
    color: white;
    text-align: center;

}

main{

    display: flex;
    flex-direction: row;
    max-width: 960px;
    margin-top: 0px;
    margin-right: 0px;
}
A:LINK{

    COLOR: gold;
}

A:HOVER{

    COLOR: red;
}

h1{




}

h2{


}

h3{


}

h4{


}

#cont1{


    width: 66%;
    margin: 0;
}

#cont2{


    width: 33%;
    margin: 0;
}

.sec1{

    background-color: 	#DBC9DF;
    margin-top: 0px;
    margin-right: 0px;
}

.sec2{

    background-color: 	#782A7E;
    margin-top: 0px;
    margin-right: 0px;
}


.banner{

    max-width: 960px;
}
