#img {

    height: 50px;
}


.img2{

    max-width: 960px;
}

#img2{

     max-width: 960px;
 }

footer{


}

main{

    display: flex;
    flex-direction: row;
    max-width: 960px;
}
A:LINK{

    COLOR: gold;
}

A:HOVER{

    COLOR: red;
}

h1{




}

h2{


}

h3{


}

h4{


}

#cont1{


    width: 66%;
}

#cont2{


    width: 33%;
}

.sec1{

    background-color: 	#DBC9DF;
}

.sec2{

    background-color: 	#782A7E;
}

.foot{

    background-color: #363636;
}
.banner{

    max-width: 960px;
}
