#img {

    height: 50px;
}

#img2{

    max-width: 960px;
}
footer{


}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{


}

li a{

    display: inline-block;
    padding: 0 10px 10px 10px;
    text-decoration: none;

}

A:LINK{

    COLOR: gold;
}

A:HOVER{

    COLOR: red;
}

h1{




}

h2{


}

h3{


}

h4{


}

#cont1{

    background-color: 	#DBC9DF;
}

#cont2{

    background-color: 	#782A7E;
}

.foot{

    background-color: #363636;
}
